.side-bar-box {
    min-height: calc(100vh - 40px);
    background: rgb(71, 71, 71);
    max-width: 20%;
    color: #f6f6f6;
}

.side-bar-title {

     height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar-title h2 {
    margin: 0;
   }

.side-bar-item-box {
    height: 40px;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    
}

.side-bar-item-box:hover {
    background: red;
}